.ms-dark{
    background-color: rgb(44,62,80);
}

.ms-gray{
    background-color: rgb(136,136,136);
}

.ms-vacqua{
    background-color: rgb(26,188,156);
}

.ms-dark-gray{
    background-color: rgb(57,84,109);
}