.ms-dark{
    background-color: rgb(44,62,80);
}

.ms-dark-text{
    color: rgb(44,62,80);
}

.ms-gray{
    background-color: rgb(136,136,136);
}

.ms-vacqua{
    background-color: rgb(26,188,156);
}

.ms-vacqua-text{
    color: rgb(26,188,156);
}

.ms-dark-gray{
    background-color: rgb(57,84,109);
}

hr{
    width: 80px;
    padding: 1.5px;
    border: none;
    opacity: 9;
    border-radius: 10px;
    display: inline-block;
    margin: auto 1%;
}

.hr-small{
    width: 40px;
    padding: 1.5px;
    border: none;
    opacity: 9;
    border-radius: 10px;
    display: inline-block;
    margin: auto 1%;
}